* {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

header.nav {
  display: flex;
  justify-content: space-between;
}

.nav-title {
  font-size: 24px;
  font-weight: bold;
  color: red;
  padding: 1.7rem;
  margin-left: 3rem;
}
.nav-title span {
  font-size: 22px;
  font-weight: bold;
  color: rgb(2, 65, 255);
}

header.nav svg {
  display: none;
}
ul.nav-items {
  list-style: none;
  padding: 2rem;
  justify-content: space-evenly;
  font-size: 18px;
  font-weight: bold;
  margin-right: 3rem;
}
.nav-items li {
  display: inline;
  text-decoration: none;
  margin: 1rem;
  color: rgb(2, 65, 255);
  cursor: pointer;
}
a {
  text-decoration: none;
  color: rgb(2, 65, 255);
}
li.unique-item a {
  color: red;
}
.nav-items li :hover {
  background-color: rgba(255, 0, 0, 0.234);
  border-radius: 10rem;
  padding: 0.7rem;
}

.hero-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.hero-title h2 {
  color: red;
  font-weight: bold;
  font-size: 50px;
  padding-top: 1.5rem;
}
.hero-title h3 {
  color: black;
  font-weight: 600;
  font-size: 30px;
  padding: 1.5rem;
}
span.span-a {
  color: rgb(2, 65, 255);
}
span.span-b {
  color: red;
}
.hero-title h1 {
  color: black;
  font-weight: 600;
  font-size: 25px;
  padding-top: 1rem;
}

div.middle {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
div.middle div.img-1 {
  box-shadow: 20px 20px 50px 15px grey;
  margin: 2rem;
  border-radius: 1rem;
}
div.img-1 img {
  border-radius: 1rem;
  width: 20rem;
  height: 20rem;
  display: block;
}
div.bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
div.bottom button {
  cursor: pointer;
  border-radius: 3rem;
  background-color: rgba(255, 21, 21, 0.86);
  font-weight: bold;
  padding: 1rem;
  color: black;
}
.open-menu {
  position: fixed;
  align-items: center;
  margin-left: 1rem;
  padding: 10rem;
  background-color: gray;
  width: 100%;
  height: 100%;
}
.open-menu li {
  padding: 4rem;
  font-weight: 500;
}
.open-menu li :hover {
  background-color: azure;
  border-radius: 7rem;
}
header.about-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}
.about-top h1 {
  font-weight: 600;
  color: red;
  font-size: 42px;
  margin: 2rem;
}
.about-top p {
  margin-left: 6rem;
  font-size: 22px;
  font-weight: 600;
}

div.about-middle {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-middle h1 {
  font-size: 42px;
  font-weight: 600;
  color: rgb(2, 65, 255);
  margin: 1rem;
}
div.team h1.team-title {
  font-weight: 600;
  color: black;
  font-size: 22px;
  margin-bottom: 1rem;
}
div.team-items {
  display: flex;
}

.team-items p {
  font-size: 15px;
  font-weight: 600;
  padding-left: 2rem;
  padding-right: 2rem;
  color: rgb(2, 65, 255);
}

body {
  background-image: url(../src/img/background.png);
  background-size: cover;
}

ion-icon {
  font-size: 22px;
  padding-right: 1rem;
  cursor: pointer;
  color: black;
}

ul ion-icon {
  font-size: 30px;
}

ul {
  transition: 0.5s ease-in-out;
}

header.coming-soon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}
.content h1 {
  color: red;
  margin: 1rem;
  font-size: 60px;
}
.content h2 {
  margin: 1rem;
  font-size: 40px;
}
.content span {
  color: blue;
}
div.countdown {
  font-size: 36px;
  margin: 1rem;
}

.art-gif {
  border-radius: 1rem;
  width: 30rem;
  height: 30rem;
  display: block;
  margin: 0.5rem;
}
@media (min-width: 320px) and (max-width: 999px) {
  .art-gif {
    width: 20rem;
    height: 20rem;
  }
  .content h1 {
    font-size: 40px;
  }
  .cotent h2 {
    font-size: 30px;
  }
  div.countdown {
    font-size: 28px;
  }
  .nav-title {
    margin-left: 0;
  }
  ul.nav-items {
    display: none;
  }
  header.nav.svg {
    display: block;
    cursor: pointer;
  }
  .hero-title {
    margin-top: 1rem;
  }
  .hero-title h2 {
    font-size: 30px;
  }
  .hero-title h3 {
    font-size: 20px;
  }
  .hero-title h1 {
    font-size: 18px;
    padding-top: 0;
  }
  div.middle {
    flex-direction: column;
  }
  div.middle div.img-1 {
    margin: 1rem;
  }
  .about-top p {
    margin-left: 2rem;
  }
  .about-middle h1 {
    margin: 0.5rem;
  }
}
